<div class="signIn-background">
  <img src="assets/img/blog.jpg" class="image" alt="Blog Image">
  <div class="overlay"></div>
  <!-- <div class="text-container">
        <h1>BLOGS</h1>
    </div> -->
</div>

<section class="articles mt-5 mb-5">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="assets/img/outdoor-advertising.jpeg" alt="" height="90%" width="100%" />
      </figure>
      <div class="article-body">
        <h2>Outdoor Advertising</h2>
        <p>
          Outdoor advertising is any kind of advertisement that is displayed outside, usually in public areas such as
          roadside billboards, bus stops, train stations, and other public spaces. It can also include banners and signs
          hung in public areas, such as on buildings, parks, and beaches.
          <!-- <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a> -->
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="assets/img/indoor-advertising.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>Indoor&nbsp;&nbsp; Advertising</h2>
        <p>
          Indoor advertising, as the name suggests, is a form of advertising that is displayed indoors. It is a type of
          out-of-home advertising that targets consumers who are inside buildings such as shopping malls, airports,
          transit stations, movie theaters, and more.
        </p>
      </div>
    </div>
  </article>


  <article>
    <div class="article-wrapper">
      <figure>
        <img src="https://static3.bigstockphoto.com/9/5/1/large2/159612758.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Promotions Advertising</h2>
        <p>
          Promotional advertising is an effective strategy to attract a target audience to a product or service by
          offering additional incentives to them if they make a purchase. This strategy helps increase immediate sales
          and customer loyalty.</p>
      </div>
    </div>
  </article>

  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://assets.keap.com/image/upload/w_569,h_395,c_limit,q_95,dpr_1/v1515725706/social_media_apps_dma9ew.webp" alt="" />
      </figure>
      <div class="article-body">
        <h2>Social,Digital & Print Media</h2>
        <p>
          Social media advertising is an offshoot of digital marketing where paid ad campaigns are run on social media
          platforms to reach target audiences.
          A digital advertisement often has a direct call-to-action, like click here or sign-up.
          Print advertising means advertisements that are printed in hard copy in publications (newspapers, magazines,
          journals) likely to be read by your target audience.
        </p>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://4.imimg.com/data4/MA/MF/MY-21942747/ad-film-production-service-500x500.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Film Production Services</h2>
        <p>
          A professional advertising film production house helps bring in fresh vision and create better video content.
          They suggest improvisations which, in turn, boost the boundaries of creativity. These professionals help bring
          in a new understanding that results as advantageous for your content.
        </p>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://www.raghudigitals.com/wp-content/uploads/2021/10/types-of-signage-848x450.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Signs Advertising</h2>
        <p>
          Signage is a broader term that includes any type of graphical representation or displays with an objective to
          convey information or a message to an audience. Similarly, signage advertising simply means to advertise or
          promote a brand/business/company with a graphical display.
        </p>
      </div>
    </div>
  </article>
</section>