<div class="signIn-background">
    <img src="assets/img/about.webp" class="image"
        alt="Background Image">
    <!-- <img src="https://media.tenor.com/yaM1c5v6RKYAAAAC/underwater-bubbles.gif" class="image2"> -->
    <div class="overlay"></div>
    <div class="text-container">
        <h1>ABOUT US</h1>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-7">
            <!-- <h4 class="header">ABOUT</h4> -->
            <p class="mt-4">
                We at <b>SR Ads</b> are young at heart, dynamic, proactive, and professional.<br>
                And we work together so <span style="font-size:25px;">You Win!</span>
            </p>
            <div class="row">
                <div class="col">
                    <ul style="list-style-type:circle;">
                        <li>Our multichannel expertise and cost-effective strategies have delivered disruptive growth to
                            hundreds of companies.<b>Your business can be next!</b></li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="list-style-type:circle;">
                        <li>Build your brand,expand your reach, and take the game to the competitor. Working with us,
                            you can
                            achieve your goals with every campaign,every time!</li>
                    </ul>
                </div>
            </div>
            <p>
                Our collective achievements are proof that we'd make a fantastic <br> contribution to the growth of
                <b>our partners & clients</b>
            </p>
            <h4 class="header mt-5">WE HELP YOU PLAN AND EXECUTE</h4>
            <p class="mt-4">
               Highly successful marketing campaigns Drive more traffic,make more sale, and <b>take your business to the next level</b>with our highly effective,high-ROI marketing campaigns.
            </p>
        </div>
        <div class="col-sm-5">
            <img src="assets/img/aboutImg.png" alt="oops!"  height="90%" width="100%">
        </div>
    </div>
</div>