.header{
    color:#6495ED;
    font-size: 23px;
    font-weight: bold;
}
//Background Image
.signIn-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -30px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 90, 118, 0.5);
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h1{
        font-size: 4rem;
        font-style: italic;
    }
}