<div class="signIn-background">
    <img src="assets/img/services.png" class="image" alt="Background Image">
    <!-- <img src="https://media.tenor.com/yaM1c5v6RKYAAAAC/underwater-bubbles.gif" class="image2"> -->
    <div class="overlay"></div>
    <div class="text-container">
        <h1>OUR SERVICES</h1>
    </div>
</div>
<div class="container mt-5 services">
    <p class="mt-3">
        We OFFER EVERY INGREDIENT THAT You Need to Succeed!
    </p>
    <p class="mt-5">Access all the services that your business needs for success on one seamless platform.<br>
        Growing your business was never this easy!</p>
</div>

<div class="container mt-5">
    <div class="top">
        <h2 class="header text-center mb-5">OUTDOOR ADVERTISING</h2>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/hordings.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Hordings</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/unipole.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Uni Pole</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/lollipop.png"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Lollipop</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/road.png"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Road Signs</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/digital.png"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">RoadSide Digital Ad's</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/pole.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Pole Brands</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/auto.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Auto Branding</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/wall.png"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Digital Wall Branding</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/bus.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Bus Branding</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/mobile.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Mobile Branding</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/entrance.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Entrance Arch</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/train.jpg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Train Branding</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/bike.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Moped Bike & Try Cycle</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/buillding.webp"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Building Wall Mounts</h5>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/services/sky.jpeg"
                    alt="">
            </div>
            <h5 class="text-center mt-2" style="font-style: italic;">Sky Ballon Branding</h5>
        </div>
    </div>
    </div>

    <div class="top">
        <h2 class="header text-center mb-5">INDOOR ADVERTISING</h2>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/standess.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Standess</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/mall.png"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Mall Branding</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/airport.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Airport Branding</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/product.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Product Display Stand</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/busstand.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Bus Stand Ad's</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/sandwish.jpeg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Sandwish Boards</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/sunboard.jpeg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Sun Board CutOut</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/floor.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Floor Branding</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/theater.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Theater Indoor Ad's</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/display.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Display Brands</h5>
            </div>
        </div>
    </div>

    <div class="top">
        <h2 class="header text-center mb-5">PROMOTIONS & SIGNS ADVERTISING</h2>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/royal.avif"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">LED Boards</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/brouchers.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Brouchers</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/canopies.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Canopies</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/mug.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Mug Printing</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/leaf.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Leaf Let</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/catalogues.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Catalogues</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/dangler.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Danglers</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/clock.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Wall Clocks</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/pylon.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Pylon Sign Board</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/coffee.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Shop Sign Boards</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/office.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Office Stationery</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/tshirt.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">T-Shirt Branding</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/umbrella.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Umbrella Branding</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/calendar.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Table Top Calendar</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/bottle.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Bottle Lable Printing</h5>
            </div>
        </div>
    </div>

    <div class="top">
        <h2 class="header text-center mb-5">SOCIAL,DIGITAL & PRINT MEDIA</h2>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/ads.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">All Social Media Ad's</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/tv.avif"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Tv & Theatre Ad's</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/radio.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Radio Ad's</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/news.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">News Paper Ad's</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/offset.jpeg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Offset Printing</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/screen.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Screen Printing</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/flex.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Flex Printing</h5>
            </div>
        </div>
    </div>

    <div class="top">
        <h2 class="header text-center mb-5">FILM PRODUCTION SERVICES</h2>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/commercial.png"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Commercial Ad's</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/pre-wedding.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Pre-Wedding Shoot</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/product-shoot.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Product Shoot</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/documentary.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Documentary</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/video.avif"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Video Albums</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/vicky.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Protfolio Shoot</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/shortfilm.jpeg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Short Film</h5>
            </div>
        </div>
    </div>

    <div class="top">
        <h2 class="header text-center mb-5">EVENT MANAGEMENT</h2>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/commercial.png"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Commercial Ad's</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/pre-wedding.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Pre-Wedding Shoot</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/product-shoot.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Product Shoot</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/documentary.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Documentary</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/video.avif"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Video Albums</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/portfolio.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Protfolio Shoot</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/shortfilm.jpeg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Short Film</h5>
            </div>
        </div>
    </div>

    <div class="top">
        <h2 class="header text-center mb-5">SIGNS ADVERTISING</h2>
        <div class="row mb-3">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/acrylic.jpeg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Acrylic Board</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/acp.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">ACP Panel Board</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/wood.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Wood Letter Board</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/light.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Acrylic Lighting Board</h5>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/led.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">LED Panel Board</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/back.jpg"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Back Lit Board</h5>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="assets/img/services/front.webp"
                        alt="">
                </div>
                <h5 class="text-center mt-2" style="font-style: italic;">Front Lit Board</h5>
            </div>
        </div>
    </div>
</div>