<div class="signIn-background">
    <img src="assets/img/logo.jpg" class="image"
        alt="Background Image" width="90%" height="80%">
    <!-- <div class="overlay"></div> -->
    <div class="text-container">
        <!-- <img src="assets/img/logo.jpg" class="image2" width="70%" height="80%"> -->
        <h1 class="text-center">SR MEDIA</h1>
        <p>SRmedia Digital provides digital content expertise to publishers and content owners as they define their
            digital strategies.
            SRmedia Digital advises clients at key stages in the lifecycle of digital products
        </p>                               
        <ul style="list-style-type:circle;">
            <li>Defining new products and services</li>
            <li>Building proofs-of-concept and minimum viable products</li>
            <li>Setting up efficient workflows, production systems and delivery pipelines</li>
            <li>Launching products and reviewing performance to enhance them</li>
            <li>Retooling products that underperform</li>
        </ul>
    </div>
</div>
<div class="border-0 mt-3 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3 flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/img/srmedia.png" alt="Avatar" style="max-width: 100%; height: 100%;">
                </div>
                <div class="flip-card-back">
                    <img src="assets/img/oneStop.png" alt="Avatar" style="max-width: 100%; height: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h4>Most Trusted clients throughout World Wide</h4>
            <p>This Ads provides end to end Advertising and Branding solutions starting from needs profiling –Strategic
                planning-brand designing –brand promotion-explicit implementation and subsequent client and consumer
                feedback for consistent brand improvisation.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="header text-center">WHY CHOOSE US?</h2>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/img/whyUs.jpg" height="95%" width="90%">
        </div>
        <div class="col-sm-5 mt-5">
            <p>WE ARE YOUR Strategists, Engineers & Designers Of innovations.<br>We help you <b>re-master your brand</b>
                identity and take you on the
                journey of success and opulence.</p>
            <p class="mt-5"><b>WE HAVE MASTERED <br> A Process that Delivers Every Time!</b></p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-3">
            <div class="panel">
                <div class="ring">
                    <div class="card card1"></div>
                    <div class="border">
                        <p class="title text-center">OUR BACKGROUND</p>
                        <div class="slide">
                            <h6 class="para">
                                <p>Since 2015, we have helped hundreds of startups, SMEs, and enterprises achieve
                                    outstanding results with our innovative way of branding solutions.</p>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="ring">
                    <div class="card card2"></div>
                    <div class="border">
                        <p class="title text-center">OUR ASSETS</p>
                        <div class="slide">
                            <h6 class="para">
                                <p>Our only assets are the people we work with <b>Our Employees:</b> Who are the reason
                                    behind our every success; and<br>
                                    <b>Our Clients:</b>Who are the reason why we exist.
                                </p>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="ring">
                    <div class="card card3"></div>
                    <div class="border">
                        <p class="title text-center">OUR METHOD</p>
                        <div class="slide">
                            <h6 class="para">
                                <p>We put the power of strategy, technology, and experiences behind your business to
                                    accelerate growth and leave competitors in the dust.</p>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <div class="ring">
                    <div class="card card4"></div>
                    <div class="border">
                        <p class="title text-center">BRAND INNOVATION</p>
                        <div class="slide">
                            <h6 class="para">
                                <p>We help propel your brand forward by restructuring your business model and
                                    repositioning your brand using in-depth market research, market-proven strategies,
                                    innovative design, and quality content.</p>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-sm-5">
            <h4 class="subhead mb-3">BEAT YOUR <br>COMPETITORS</h4>
            <!-- <img src="assets/img/image1.png" class="mt-5" height="20%" width="25%"> -->
            <p>Is the competition threatening to grab a piece of your market Share? We can help you change the game!</p>
            <p>Run powerful campaigns that outperform competitors and make them run for cover Stop being reactive and
                play to your
                strengths by repositioning your business model and brand capture your customers’ mindshare and
                heart-share by delivering
                the right message, at the right time,through the right channel.</p>
            <img src="assets/img/image4.png" height="45%" width="100%">
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <h4 class="subhead mb-3">BUILD BRAND<br> AWARENESS</h4>
            <!-- <img src="assets/img/image1.png" class="mt-5" height="20%" width="25%"> -->
            <p>We help you capture the market's top-of-mind by making sure your brand
                is visible to your audience across every channel that they use.</p>
            <h4 class="subhead mt-5 mb-3">OUR COST-EFFECTIVE<br> SERVICES ARE</h4>
            <!-- <img src="assets/img/image1.png" class="mt-5" height="20%" width="25%"> -->
            <p>Personalized for Your Needs!<br>
                Tailoring each service precisely to your
                needs & use the optimal service-mix,
                SO you may exceed your targets without exceeding your budget.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="header text-center mb-5">OUR CLIENTS</h2>
    <div class="row">
        <div class="col-md-3">
            <a href="http://cmrcentral.in" target="_blank"> <img src="assets/img/cmr.png" alt="cmr" width="80%" height="90%"></a>
        </div>
        <div class="col-md-3">
            <a href="https://www.southindiaeshop.com" target="_blank"><img src="assets/img/southIndia.png" alt="South India" width="80%" height="90%"></a>
        </div>
        <div class="col-md-3">
            <a href="https://www.gvmall.com" target="_blank"><img src="assets/img/gvmall.jpeg" alt="GV mall" width="80%" height="90%"></a>
        </div>
        <div class="col-md-3">
            <a href="https://www.rsbrothers.net" target="_blank"><img src="assets/img/rsBrothers.png" alt="Rs Brothers" width="80%" height="90%"></a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <a href="https://www.subhamasthushoppingmall.in" target="_blank"><img src="assets/img/shubamasthu.jpeg" alt="Subhamasthu" width="100%" height="100%"></a>
        </div>
        <div class="col-md-3 mt-5">
            <a href="https://www.indiamart.com" target="_blank"><img src="assets/img/shreeCement.png" alt="Shree Cement" width="80%" height="80%"></a>
        </div>
        <div class="col-md-3 mt-5">
            <a href="https://dir.indiamart.com/impcat/bangur-cement.html" target="_blank"><img src="assets/img/bangurCement.png" alt="Bangur Cement" width="80%" height="80%"></a>
        </div>
        <div class="col-md-3">
            <a href="https://www.radhatmt.com" target="_blank"><img src="assets/img/radhaTMT.png" alt="Radha TMT" width="100%" height="100%"></a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <a href="https://jindalpanther.com" target="_blank"><img src="assets/img/panteer.webp" alt="Panteer TMT" width="100%" height="60%"></a>
        </div>
        <div class="col-md-3">
            <a href="https://beekayturbo.com" target="_blank"><img src="assets/img/beekay.png" alt="Beekay Turbo TMT"></a>
        </div>
        <div class="col-md-3">
            <a href="https://vitap.ac.in" target="_blank"><img src="assets/img/vitAp.png" alt="VIT-AP"></a>
        </div>
        <div class="col-md-3">
            <a href="https://www.tenalidoublehorse.com" target="_blank"><img src="assets/img/tenali.png" alt="Tenali Double horse"></a>
        </div>
    </div>
</div>